.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 88vh;
  max-width: 720px;
  margin: 6vh auto;
  position: relative;
}

.form-container {
  width: 360px;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.custom-alert {
  width: 360px;
  max-width: 80vw;
  align-self: center;
}
